/* navbar */
.navbar{
	margin-bottom: 0px;
	height: 50px;
}
.navbar-brand{
	padding: 0vw 2vw 0vw 0vw;
}
.navbar-brand img{
	width: 8vw;
	height: 8vw;
	min-height: 50px; /*same as navbar*/
	min-width: 50px;
}
@media (min-width: 768px) {
	.navbar-brand img{	
		margin-top: -1vw;
	}
}

/* buttons */
#facebook-ico{
	background-image: url('../img/social-media-icons.png');
    background-repeat: no-repeat;
	background-position: -317px -100px;
	margin: 10px;
    width: 25px;
    height: 25px;
}
#twitter-ico{
	background-image: url('../img/social-media-icons.png');
    background-repeat: no-repeat;
	background-position: -114px -100px;
    width: 25px;
    height: 25px;
	margin: 10px;
}

/* carousel */
.carousel {
  height: 50vh;
}

.carousel-caption {
  z-index: 10;
}

.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 50vh;
}
.carousel-inner > .item > img {
  min-width: 100vw;
  min-height: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

/* next games section */

#next{
	height: 32vh;
}
#next-top{
}
#next-top > .container{
	position: relative;
	height: 12vh;
}
#next-top-border{
	height: 6vh;
	position: absolute;
	bottom: 1vh;
	left: 0;
	right: 0;
	text-align: center;
}
#next-top-title{
	text-align: center;
	margin-top: -50px;
	padding: 0 65px;
	display: inline-block;
}
#next-top-title h3{
	font-size: 4vh;
}
#next-middle  > .container{
	height: 8vh;
	line-height: 8vh;
	position: relative;
	display: flex;
    justify-content: space-between;
}
#next-vs{
	display: inline-block;
	font-size: 4vh;	
	text-align: center;
}
#next-home-team, #next-away-team{
	display: inline-block;
	margin-top: -4vh;
}
#next-home-team-logo img, #next-away-team-logo img{
	padding: 1vw;
	width: 16vh;
	height: 16vh;
	min-height: 50px; /*same as navbar*/
	min-width: 50px;
}
#next-bottom{
	
}
#next-bottom > .container{
	position: relative;
	height: 12vh;
}
#next-bottom-border{
	height: 6vh;
	position: absolute;
	top: 1vh;	
	left: 0;
	right: 0;	
	text-align: center;
}
#next-bottom-title{
	text-align: center;
	margin-top: 2vh;
	padding: 0 65px;
	display: inline-block;
	background-color: #fff;
}
#next-bottom-title h3{
	font-size: 4vh;
}

/* partner section */

#partners{
	/* height: 16vh; */
	padding: 1vh;
}

#partners ul{
	display: block;
	margin: 3vh auto;
	padding: 0;
	white-space:nowrap; 
	overflow-x:hidden;
}
#partners ul li{
	display: inline;
}
#partners ul li img{
	height: 6vh;
	min-height: 50px;
	padding: 1vh 3vw;
}
@media (max-width: 480px) {
	#partners ul li:nth-child(n+5){
		display:none;
	}
}
@media (min-width: 481px) {
	#partners ul li:nth-child(n+6){
		display:none;
	}
}