 .navbar-default{ 
	background-color: #ffe100;
	border: 0px solid #ffe100;
 } 
 .navbar-brand img{
	 border: 4px solid #ffe100;
	 border-radius: 50%;
	 background-color: #fff;	 
 }
 


/* .navbar-default .navbar-nav > .active > a, */
/* .navbar-default .navbar-nav > .active > a:hover, */
/* .navbar-default .navbar-nav > .active > a:focus { */
  /* color: #fff; */
  /* background-color: #337ab7; */
  /* border-color: #2e6da4; */
/* } */