@charset "utf-8";
/* CSS Document */

.menubalk {
	font-family:"Century Gothic", Century;
	font-size: 14px;
	font-weight: bold;
	color: #FFFF00;
	text-align: center;
	background-image: url(../img/blauwe_balk.jpg);
	background-repeat: repeat-x;
	height: 30px;
}
.menubalk_over {
	font-family: "Century Gothic", Century;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #0000CC;
	background-image: url(../img/gele_balk.jpg);
	background-repeat: repeat-x;
	height: 30px;
	cursor: pointer;
	cursor: hand;
}
.menubalk_links {
	background-image: url(../img/blauwe_balk_links.gif);
	background-repeat: no-repeat;
	background-position: top right;
}
.menubalk_rechts {
	background-image: url(../img/blauwe_balk_rechts.gif);
	background-repeat: no-repeat;
	background-position: top left;

}
.submenu {
	font-family:"Century Gothic", Century;
	font-size: 11px;
	font-weight: bold;
	color: #000099;
	text-align: center;
	height: 20px;
}
.submenu_over {
	font-family: "Century Gothic", Century;
	font-size: 11px;
	font-weight: bold;
	color: #FFFF00;
	text-align: center;
	background-color:#3A5DB1;
	height: 20px;
	cursor: pointer;
	cursor: hand;
}h1 {
	font-family: "Century Gothic", Century;
	font-size: 18px;
	color: #14235A;
}
p, td {
	font-family: "Century Gothic", Century;
	font-size: 12px;
}
h3.nieuwstitel {
	font-weight: bold;
}
#accordion1,#accordion2, #accordion3, #accordion4 { 
	width:420px;
}
