{% assign current = page.url | downcase | split: '/' %}
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
	<li class="active"><a href="/">Home</a></li>
	<li class="dropdown">
	  <a href="/club" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Club <span class="caret"></span></a>
	  <ul class="dropdown-menu">
		<li><a href="/club">Algemeen</a></li>
		<li><a href="/club/organisatie">Organisatie</a></li>
		<li><a href="/club/sporthal">Sporthal</a></li>
		<li><a href="/club/visie">Visie</a></li>
		<li><a href="/club/reglement">Intern reglement</a></li>
		<li><a href="/club/sportief">Sportieve lijn</a></li>
		<li><a href="/club/documenten">Documenten</a></li>
		<li><a href="/club/geschiedenis">Geschiedenis</a></li>
	  </ul>			  
	</li>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams <span class="caret"></span></a>
	  <ul id="teams-menu" class="dropdown-menu">
			<li class="dropdown-header">Senioren</li>			
			<li id="teams-menu-separator" role="separator" class="divider"></li>
			<li class="dropdown-header">Jeugd</li>		
	  </ul>
	</li>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Business <span class="caret"></span></a>
	  <ul class="dropdown-menu">
		<li><a href="/business/partners">Partners</a></li>
		<li><a href="/business/visibiliteit">Visibiliteit</a></li>
		<li><a href="/business/evenementen">Evenementen</a></li>
		<li><a href="/business/club">Business club</a></li>
		<li><a href="/business/contact">Contact</a></li>
	  </ul>			  
	</li>
	<li><a href="/news">News</a></li>
	<li><a href="/blog">Blog</a></li>
	<li><a href="#contact">Contact</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
	 <li><a id="facebook-ico" href="https://www.facebook.com/basketlummen/" target="_blank"></a><a id="facebook-txt" href="https://www.facebook.com/basketlummen/" target="_blank">Facebook</a></li>
	 <li><a id="twitter-ico" href="https://twitter.com/basketlummen" target="_blank"></a><a id="twitter-txt" href="https://twitter.com/basketlummen" target="_blank">Twitter</a></li>
  </ul>
</div>
