@charset "utf-8";
/* CSS Document */

.menubalk {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFF00;
	text-align: center;
	background-image: url(img/blauwe_balk.jpg);
	background-repeat: repeat-x;
	height: 30px;
}
.menubalk_over {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFF00;
	text-align: center;
	color: #0000CC;
	background-image: url(img/gele_balk.jpg);
	background-repeat: repeat-x;
	height: 30px;
	cursor: pointer;
	cursor: hand;
}
.menubalk_links {
	background-image: url(img/blauwe_balk_links.gif);
	background-repeat: no-repeat;
	background-position: top right;
}
.menubalk_rechts {
	background-image: url(img/blauwe_balk_rechts.gif);
	background-repeat: no-repeat;
	background-position: top left;

}
h1 {
	font-family: "Century Gothic", Century;
	font-size: 18px;
	color: #14235A;
}
p, td {
	font-family: "Century Gothic", Century;
	font-size: 12px;
}
