body {
	background-color: #F7F7F7;
	background-image: url(http://www.basketlummen.be/img/logogrijs2009.gif);
	background-position: 400px 10px;
	background-repeat: no-repeat;
	scrollbar-face-color: #FFFFFF; 
	scrollbar-shadow-color: #000099; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #000099; 
	scrollbar-darkshadow-color: #FFFFFF; 
	scrollbar-track-color: #FFFFFF; 
	scrollbar-arrow-color: #0000FF
}
/*titels*/
th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000099;
	background-color: #DDDDDD;
}
/*dikte en kleur van de tabel*/
table {
 	border: 2px solid #DDDDDD;
}

/*tekst*/
tr {
	line-height: 15px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top: 1px solid #000099;
	text-decoration: none;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/*links*/
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
	color: #000099;
}
/*even rijen*/
tr.even {
	background-color: #DDDDDD;
}
/*muis over links*/
a:hover {
	color: #FF0000;
}
/*aanduiding bekerwedstrijden in de weekkalender*/
.beker {
	font-size: 9px;
}
/*scheiding tussen verschillende in de weekkalender gesorteerd op uur*/
.scheiding {
	background-color: #FF0000;
	height: 3px;
}
/*enkel Basket Lummen*/
.info {
	font-family: "Courier New";
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000099;
	background-color: #FFFF00;
}