---
layout: page
---
<div id="album-header" class="black-bar album-header">
	<h2 id="album-title">{{page.title}}</h2>
	<div><span>{{local_date page.date "nl-BE" "dd MMMM yyyy"}}, dank aan {{page.author}} voor het beeldmateriaal.</span></div>
</div>	
		
<div id="album" class="album">

		{{#split pager.Items 4}}
			<div class="column">
				{{#each this}}
				<div class="album-item">
					{{#is-image this}}
					<a href="{{this.Page}}">
						<img src="{{this.Path}}" />
					</a>
					{{/is-image}}
					{{#is-video this}}
					<video controls>
						<source src="{{this.Path}}" />
					</video>
					{{/is-video}}
				</div>				
				{{/each}}
			</div>		
		{{/split}}
		
		
</div>

<div class="container">	
		
	{{>pagination}}

</div>
	
	