---
layout: page
---
	<div id="posts" class="posts">
		<div class="container">	
		
			<h2>{{ page.title }}</h2>
			{% for post in paginator.posts %}
				<div>
					<a href="{{ post.permalink | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
					<p>{{ post.date | date: "%-d %b, %Y" }}</p>
					<p>{{ post.content | strip_html | truncatewords: 40  }}</p>
					<p><a href="{{ post.permalink | prepend: site.baseurl }}"> Lees meer</a></p>
				</div>
			{% endfor %}
			
			{% include pagination.html %}				
			
			<div>
				<p class="rss-subscribe">Subscribe <a aria-label="Subscribe via RSS to receive future posts" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> to receive future posts</p>
			</div>
		
		</div>
	</div>
	
	