<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">  
    <meta name="keywords" content="{{ page.keywords }}">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css">
	<link href="/css/layout.css" rel="stylesheet" media="screen" type="text/css">	
	<link href="/css/theme.css" rel="stylesheet" media="screen" type="text/css">
	
	{% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
    {% endif %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
	{{ content }}	
		
	{% include footer.html %}
    {% include scripts.html %}
	
	{% if page.custom_js %}
	{% for js_file in page.custom_js %}
	<script src='/js/{{ js_file }}.js' type="text/javascript"></script>
	{% endfor %}
	{% endif %}
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-6928428-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	
	{% if page.async_js %}
	{% for js_uri in page.async_js %}
	<script async defer src='{{ js_uri }}' type="text/javascript"></script>
	{% endfor %}
	{% endif %}
	
  </body>
</html>